/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%;
}

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }


  #imagem_camisa{
    background-color: red;
  }

  
  @media (max-width: 740px) {

    html,
    body,
    header,
    .carousel {
      height: 10000vh;
    }
    
    }
    
    @media (min-width: 800px) and (max-width: 850px) {
    
    html,
    body,
    header,
    .carousel {
      height: 100vh;
    }
    
    }

    